@{
    ViewBag.Title = "Muebleria Merx - Index";
    Layout = "~/Views/Shared/_LayoutPagina.cshtml";
}
<title>Muebleria Merx - Index</title>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
        <h1>Tu nueva tienda para la compra de muebles</h1>
        <h2>Somos una empresa dedicada a la fabricación de muebles ecológicos</h2>
        <a href="@Url.Action("Tienda", "Producto")" class="btn-get-started scrollto">Ir a la tienda</a>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Clients Section ======== -->
    <section id="clients" class="clients">
        <div class="container">

            <div class="row align-content-center">

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
                    <img src="~/Content/assets/img/clients/Bambu-tec - Logo.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/Content/assets/img/clients/Misión-Logo.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="300">
                    <img src="~/Content/assets/img/clients/Polyhex - Logo.png" class="img-fluid" alt="">
                </div>


            </div>

        </div>
    </section><!-- End Clients Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row content">
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                    <h2>¿Quiénes somos?</h2>
                    <h3>Ofrecemos al comprador moderno una opción para realizar sus compras de muebles de manera sencilla con el plus de dejar una mancha ecológica mínima</h3>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
                    <p class="text-justify">
                        México pierde un promedio de 174,450 hectáreas de bosque anualmente. Parte de esta deforestación es consecuencia del mercado de mueblerías. Nosotros
                        queremos ofrecer una alternativa con la cual esta pérdida de bosque serían disminuidas y además se apoyaría a un mercado verde en México. Con cada
                        compra usted apoya a:.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> La conserva actual de parques nacionales</li>
                        <li><i class="ri-check-double-line"></i> Reforestación de bosques de México</li>
                        <li><i class="ri-check-double-line"></i> Concientización de la fabricación a productos amigables con el medio ambiente</li>
                    </ul>
                    <p class="font-italic">
                        "¿De qué sirve una hermosa casa si no tienes un planeta tolerable para ponerla?"
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">132</span>
                    <p style="color:white">Hectáreas salvadas</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">521</span>
                    <p style="color:white">Clientes satisfechos</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">570</span>
                    <p style="color:white">Muebles vendidos</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">45</span>
                    <p style="color:white">Empleos creados</p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="content">
                        <h3>¿Porqué elegir Merx sobre la competencia?</h3>
                        <p style="color:white">
                            No sólo te ofrecemos un servicio de muebleria, sino que nos gusta ir más allá, te ofrecemos la personalización de tu mueble de
                            manera que tú decidas cuál es el color que mejor se adapta a su entorno, y no sólo eso si no que también tendrás la oportunidad
                            de contribuir a la sustentabilidad del planeta con nuestros productos amigables con el ambiente.
                        </p>
                        <div class="text-center">
                            <a href="../Producto/Tienda" class="more-btn">Ver productos<i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Variedad de productos</h4>
                                    <p>Contamos con diferentes productos de madera y de bamboo listos para ti.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>Sustentabilidad con el medio ambiente</h4>
                                    <p>Al comprar uno de nuestros productos de Bamboo, estas ayudando a mejorar el medio ambiente.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-images"></i>
                                    <h4>Personalización de Producto</h4>
                                    <p>Podrás ver a tiempo real el cambio de color de un producto a tu disposición</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="text-center" data-aos="zoom-in">
                <h3>Registrarse</h3>
                <p>
                    Si ves algunos muebles que te interesan y quieres aportar a la sustentabilidad de nuestro planeta,
                    registrate dando click en el boton para que puedas disfrutar todos los beneficios que Merx te ofrece.
                </p>
                <a class="cta-btn" href="@Url.Action("Login", "Account")">Registrarse</a>
            </div>

        </div>
    </section><!-- End Cta Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title" data-aos="fade-right">
                        <h2>Servicios</h2>
                        <p>Nuestra prioridad es ofrecerte los mejores productos a un precio justo y que pueda satisfacer tus necesidades.</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-stretch">
                            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                                <h4><a href="">Muebleria</a></h4>
                                <p>Te ofrecemos los mejores muebles para tu hogar y oficia a un precio economico y con gran calidad.</p>
                            </div>
                        </div>

                        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                                <div class="icon"><i class="bx bx-file"></i></div>
                                <h4><a href="">Personalización</a></h4>
                                <p>
                                    Podrás cambiar el color y material de tu mueble, y todo esto en tiempo real para que puedas ver el
                                    diseño que mas te agrade.
                                </p>
                            </div>
                        </div>
                        <!--
    <div class="col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Magni Dolores</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
        </div>
    </div>
        -->
                        <div class="col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                                <div class="icon"><i class="bx bx-world"></i></div>
                                <h4><a href="">Ecología</a></h4>
                                <p>
                                    Al comprar un mueble hecho de bamboo, ayudas a la reforestación de muchos arboles y aportas a mejorar
                                    el medio ambiente.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->
                        <!-- ======= Portfolio Section ======= -->
                        <section id="portfolio" class="portfolio">
                            <div class="container">

                                <div class="section-title" data-aos="fade-left">
                                    <h2>Portafolio</h2>
                                    <p>A continuación le mostramos unos cuantos productos de nuestra gran variedad de muebles que actualmente tenemos. </p>
                                </div>

                                <div class="row" data-aos="fade-up" data-aos-delay="100">
                                    <div class="col-lg-12 d-flex justify-content-center">
                                        <ul id="portfolio-flters">
                                            <li data-filter="*" class="filter-active">Todos</li>
                                            <li data-filter=".filter-app">Mesas</li>
                                            <li data-filter=".filter-card">Sillas</li>
                                            <li data-filter=".filter-web">Escritorios</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                        <div class="portfolio-wrap">
                                            <img src="~/Content/assets/img/portfolio/mesa11.jpg" class="img-fluid" alt="">
                                            <div class="portfolio-info">
                                                <h4>Mesa 1</h4>
                                                <p>Mesas</p>
                                                <div class="portfolio-links">
                                                    <a href="~/Content/assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                                        <div class="portfolio-wrap">
                                            <img src="~/Content/assets/img/portfolio/esc11.jpg" class="img-fluid" alt="">
                                            <div class="portfolio-info">
                                                <h4>Escritorio 3</h4>
                                                <p>Escritorios</p>
                                                <div class="portfolio-links">
                                                    <a href="~/Content/assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                        <div class="portfolio-wrap">
                                            <img src="~/Content/assets/img/portfolio/mesa22.jpg" class="img-fluid" alt="">
                                            <div class="portfolio-info">
                                                <h4>Mesa 2</h4>
                                                <p>Mesas</p>
                                                <div class="portfolio-links">
                                                    <a href="~/Content/assets/img/portfolio/mesa22.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                                        <div class="portfolio-wrap">
                                            <img src="~/Content/assets/img/portfolio/esc22.jpg" class="img-fluid" alt="">
                                            <div class="portfolio-info">
                                                <h4>Escritorio 2</h4>
                                                <p>Escritorios</p>
                                                <div class="portfolio-links">
                                                    <a href="~/Content/assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                        <div class="portfolio-wrap">
                                            <img src="~/Content/assets/img/portfolio/mesa33.jpg" class="img-fluid" alt="">
                                            <div class="portfolio-info">
                                                <h4>Mesa 3</h4>
                                                <p>Mesas</p>
                                                <div class="portfolio-links">
                                                    <a href="~/Content/assets/img/portfolio/mesa33.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                                        <div class="portfolio-wrap">
                                            <img src="~/Content/assets/img/portfolio/esc33.jpg" class="img-fluid" alt="">
                                            <div class="portfolio-info">
                                                <h4>Escritorio 1</h4>
                                                <p>Escritorios</p>
                                                <div class="portfolio-links">
                                                    <a href="~/Content/assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                                        <div class="portfolio-wrap">
                                            <img src="~/Content/assets/img/portfolio/silla22.png" class="img-fluid" alt="">
                                            <div class="portfolio-info">
                                                <h4>Silla 1</h4>
                                                <p>Sillas</p>
                                                <div class="portfolio-links">
                                                    <a href="~/Content/assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                                        <div class="portfolio-wrap">
                                            <img src="~/Content/assets/img/portfolio/silla33.png" class="img-fluid" alt="">
                                            <div class="portfolio-info">
                                                <h4>Silla 2</h4>
                                                <p>Sillas</p>
                                                <div class="portfolio-links">
                                                    <a href="~/Content/assets/img/portfolio/portfolio-8.jpg" " data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>

                            </div>
                        </section><!-- End Portfolio Section -->
                        <!-- ======= Testimonials Section =======
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title" data-aos="fade-right">
                        <h2>Testimonials</h2>
                        <p>Magnam dolores commodi suscipit uisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                    </div>
                </div>
                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
                    <div class="owl-carousel testimonials-carousel">

                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="~/Content/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                        </div>

                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="~/Content/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                            <h3>Sara Wilsson</h3>
                            <h4>Designer</h4>
                        </div>

                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="~/Content/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                            <h3>Jena Karlis</h3>
                            <h4>Store Owner</h4>
                        </div>

                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="~/Content/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                            <h3>Matt Brandon</h3>
                            <h4>Freelancer</h4>
                        </div>

                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="~/Content/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->
                        -->
                        <!-- ======= Team Section =======
    <section id="team" class="team">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title" data-aos="fade-right">
                        <h2>Team</h2>
                        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem.</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="member" data-aos="zoom-in" data-aos-delay="100">
                                <div class="pic"><img src="~/Content/assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                                <div class="member-info">
                                    <h4>Walter White</h4>
                                    <span>Chief Executive Officer</span>
                                    <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                                    <div class="social">
                                        <a href=""><i class="ri-twitter-fill"></i></a>
                                        <a href=""><i class="ri-facebook-fill"></i></a>
                                        <a href=""><i class="ri-instagram-fill"></i></a>
                                        <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-4 mt-lg-0">
                            <div class="member" data-aos="zoom-in" data-aos-delay="200">
                                <div class="pic"><img src="~/Content/assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                                <div class="member-info">
                                    <h4>Sarah Jhonson</h4>
                                    <span>Product Manager</span>
                                    <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                                    <div class="social">
                                        <a href=""><i class="ri-twitter-fill"></i></a>
                                        <a href=""><i class="ri-facebook-fill"></i></a>
                                        <a href=""><i class="ri-instagram-fill"></i></a>
                                        <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-4">
                            <div class="member" data-aos="zoom-in" data-aos-delay="300">
                                <div class="pic"><img src="~/Content/assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                                <div class="member-info">
                                    <h4>William Anderson</h4>
                                    <span>CTO</span>
                                    <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                                    <div class="social">
                                        <a href=""><i class="ri-twitter-fill"></i></a>
                                        <a href=""><i class="ri-facebook-fill"></i></a>
                                        <a href=""><i class="ri-instagram-fill"></i></a>
                                        <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-4">
                            <div class="member" data-aos="zoom-in" data-aos-delay="400">
                                <div class="pic"><img src="~/Content/assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                                <div class="member-info">
                                    <h4>Amanda Jepson</h4>
                                    <span>Accountant</span>
                                    <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                                    <div class="social">
                                        <a href=""><i class="ri-twitter-fill"></i></a>
                                        <a href=""><i class="ri-facebook-fill"></i></a>
                                        <a href=""><i class="ri-instagram-fill"></i></a>
                                        <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Team Section -->
                        <!-- ======= Contact Section ======= -->
                        <section id="contact" class="contact" >
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4" data-aos="fade-right">
                                        <div class="section-title">
                                            <h2>Contacto</h2>
                                            <p>
                                                Te presentamos a continuación la información necesaria para que puedas contactarte con nosotros.

                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.135729641604!2d-101.71276338541897!3d21.146996089107997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bc0a6f6e4d553%3A0x21cadbaecdc5f022!2sPlaza%2016%2C%20Paseo%20de%20los%20Insurgentes%202210%2C%20Lomas%20del%20Sol%2C%2037157%20Le%C3%B3n%2C%20Gto.!5e0!3m2!1ses-419!2smx!4v1597006983223!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                        <!-- <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>-->
                                        <div class="info mt-4">
                                            <i class="icofont-google-map"></i>
                                            <h4>Dirección:</h4>
                                            <p>Paseo de los insurgentes 2210, San José de Piletas, León, Gto.</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 mt-4">
                                                <div class="info">
                                                    <i class="icofont-envelope"></i>
                                                    <h4>Email:</h4>
                                                    <p>merxprojectbusiness@gmail.com</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="info w-100 mt-4">
                                                    <i class="icofont-phone"></i>
                                                    <h4>Número de contacto:</h4>
                                                    <p>477 238 6919</p>
                                                </div>
                                            </div>
                                        </div>

                                        <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
                                            <div class="form-row">
                                                <div class="col-md-6 form-grou p">
                                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                                    <div class="validate"></div>
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                                    <div class="validate"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                                <div class="validate"></div>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                                <div class="validate"></div>
                                            </div>
                                            <div class="mb-3">
                                                <div class="loading">Cargando</div>
                                                <div class="error-message"></div>
                                                <div class="sent-message">Tu mensaje ha sido enviado. Gracias!</div>
                                            </div>
                                            <div class="text-center"><button type="submit">Enviar mensaje</button></div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </section><!-- End Contact Section -->

</main><!-- End #main -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
