
@{
    ViewBag.Title = "EmailVerification";
}
<br/>
<br/>
    <div class="alert alert-success alert-dismissible" role="alert">
       
        <p>Cuenta creada correctamente. Para poder usarla deberás activarla.</p><p>Te hemos enviado un correo electrónico a la dirección con las instrucciones a seguir para activar tu cuenta. Revisa las carpetas spam y correo no deseado en caso de que el correo no figure en la bandeja de entrada.  <label for="agree-term" class="label-agree-term"><a href="/Account/Login" class="term-service">Inicia sesión</a></label></p>
    </div>

